.card{
    width: 320px;
    padding: 20px;
    border-radius: 8px;
}
.card1{
    box-shadow: 0 0 8px #008000;

}
.card2{
    box-shadow: 0 0 8px #b7b704;

}
#container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.card h2{
    color: rgb(209, 10, 10);
}
.card a{
    text-decoration: none;
    font-size: large;
    margin-top: 30px;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}
.card1 a{
    color: #008000;
    border: 2px solid #008000;
}
.card2 a{
    color:#b7b704; 
    border: 2px solid #b7b704;
}
.card p{
    color: rgb(120, 120, 158)
}